span {
    color: green;
}

pre {
    background-color: lightgrey;
    border: 2px solid grey;
    width: 500px;
}

#load_date {
    font-family: "Courier New", monospace;
}

textarea {
    height: 500px;
    width: 500px;
}